[*.cs]

# CS8618: Поле, не допускающее значения NULL, должно содержать значение, отличное от NULL, при выходе из конструктора. Рассмотрите возможность добавления модификатора "required" или объявления значения, допускающего значение NULL.
dotnet_diagnostic.CS8618.severity = silent

# CS8619: Допустимость значения NULL для ссылочных типов в значении не соответствует целевому типу.
dotnet_diagnostic.CS8619.severity = silent
