@model SmartLoad.Models.PackagingType

@{
    ViewData["Title"] = "Добавить тип упаковки";
}

<h1>Добавить тип упаковки</h1>

<form asp-action="AddPackagingType" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

