@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Айти</h1>
</div>

<div class="text-center">
    <div class="btn-group-vertical"> 
    <a class="btn btn-primary mb-2" asp-controller="Home" asp-action="TypesOfVehicles">Типы ТС</a>
    <a class="btn btn-primary mb-2" asp-controller="Home" asp-action="Products">Готовая продукция</a>
    <a class="btn btn-primary mb-2" asp-controller="Home" asp-action="PackagingTypes">Типы упаковок</a>
    </div>
</div>
