@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Главная</h1>
</div>

<div class="text-center">
    <div class="btn-group-vertical">
		@* <a class="btn btn-primary mb-2" asp-controller="Vehicle" asp-action="TypesOfVehicles">Типы ТС</a>
         <a class="btn btn-primary mb-2" asp-controller="Home" asp-action="Vehicles">Транспортные средства</a> 
        <a class="btn btn-primary mb-2" asp-controller="Product" asp-action="Products">Готовая продукция</a>
        <a class="btn btn-primary mb-2" asp-controller="PackagingTypes" asp-action="PackagingTypes">Типы упаковок</a>
        <a class="btn btn-primary mb-2" asp-controller="Route" asp-action="Routes">Маршруты</a>
        <a class="btn btn-primary mb-2" asp-controller="Order" asp-action="Orders">Заказы</a>*@
        <a class="btn btn-primary mb-2" asp-controller="Loading" asp-action="LoadingSchemes">Схемы погрузки</a>
    </div>
</div>