@model SmartLoad.Models.VehicleType

<h2>Edit Vehicle</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Length"></label>
        <input asp-for="Length" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Width"></label>
        <input asp-for="Width" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Height"></label>
        <input asp-for="Height" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MaxLoadCapacity"></label>
        <input asp-for="MaxLoadCapacity" class="form-control" />
    </div>
     <div class="form-group">
        <label asp-for="MaxVolumeCapacity"></label>
        <input asp-for="MaxVolumeCapacity" class="form-control" />
    </div> 
    <div class="form-group">
        <label asp-for="AxleCount"></label>
        <input asp-for="AxleCount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MaxAxleLoad"></label>
        <input asp-for="MaxAxleLoad" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="EmptyWeight"></label>
        <input asp-for="EmptyWeight" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="WheelBase"></label>
        <input asp-for="WheelBase" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FrontOverhang"></label>
        <input asp-for="FrontOverhang" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RearOverhang"></label>
        <input asp-for="RearOverhang" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AllowedRoadTypes"></label>
        <input asp-for="AllowedRoadTypes" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Notes"></label>
        <input asp-for="Notes" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ViewType"></label>
        <input asp-for="ViewType" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CouplingDevice"></label>
        <input asp-for="CouplingDevice" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Kingpindist"></label>
        <input asp-for="Kingpindist" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OverBeyond"></label>
        <input asp-for="OverBeyond" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>